<div class="row create-order-table-header">
  <div class="col s1" style='width:40px'>#</div>
  <div class="col s1">Discription</div>
  <div class="col s1">Paper</div>
  <div class="col s1">Size</div>
  <div class="col s1">Color</div>
  <div class="col s1">Copies</div>
  <div class="col s1">Serial</div>
  <div class="col s1">Pack</div>
  <div class="col s1">Qty</div>
  <div class="col s1">Price</div>
  <div class="col s1">Cost</div>
</div>

<div class="row create-order-table-header">
    <div class="col s1" style='width:40px'>
      
    </div>
    <div class="col s1">Discription</div>
    <div class="col s1">Paper</div>
    <div class="col s1">Size</div>
    <div class="col s1">Color</div>
    <div class="col s1">Copies</div>
    <div class="col s1">Serial</div>
    <div class="col s1">Pack</div>
    <div class="col s1">Qty</div>
    <div class="col s1">Price</div>
    <div class="col s1">Cost</div>
</div>